[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyquaternion = "*"

[dev-packages]
pylint = "*"
pendulum = "*"
codecov = "*"
coverage = "*"
pytest-cov = "*"
pytest = "*"
matplotlib = "*"
pillow = "*"

[requires]
python_version = "3.7"
